.sand-circle {
	animation: reverseRotateCircle 30s linear infinite;
}

.white-circle {
	animation: rotateCircle 30s linear infinite;
}

@keyframes rotateCircle {
	0% {
			transform: rotate(0deg);
	}

	100% {
			transform: rotate(360deg);
	}
}

@keyframes reverseRotateCircle {
	0% {
			transform: rotate(0deg);
	}

	100% {
			transform: rotate(-360deg);
	}
}