@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import './partials/rich-text.css';
@import './partials/typography.css'; 
@import './partials/buttons.css';
@import './partials/forms.css';
@import './components/flashbar.css';
@import 'aos/dist/aos.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-dark/90 scroll-smooth;
  }
  footer, .footer {
    .menu-item {
      @apply text-sm font-medium inline-block lowercase font-shadow text-white/50;
      a {
        @apply inline-block hover:text-white/90 transition-all duration-500;
      }
    }
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@layer components {
  .card {
    @apply bg-white p-6 rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300;
    .card-image {
      @apply w-full h-48 object-cover hover:scale-105 transition-transform duration-300;
    }
    .card-tags {
      @apply absolute bottom-4 right-4 flex flex-wrap gap-2 justify-end z-20;
    }
    .card-title {
      @apply font-bold mb-2 text-dark;
    }
    .card-description {
      @apply text-sm mb-4 text-dark/80;
    }
    .card-date {
      @apply text-xs mb-4 text-dark;
    }
    .card-buttons {
      @apply flex flex-col gap-2;
    }
  }
}