---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Hello World Deployment test!</h1>
	<p>Lorem Ipsum dolor et amis this is a bunch of stuff i'm typing and even with typos if there are any, who knows?</p>
</Layout>
