---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Hello World 👋</h1>
	<p>Welcome to my first website on GitHub Pages!</p>
</Layout>
