---
import Layout from '../layouts/layout.astro';

export interface Props {
  currentPage?: string;
}

const { currentPage = 'home' } = Astro.props;
---

<Layout currentPage="home">

	<section id="heroSection" class="bg-dark h-[100vh]">
		<div class="container mx-auto h-full">
			<div class="flex flex-col items-center justify-center h-full w-full">
				<div class="rich-text text-center max-w-xl mx-auto">
					<h1 class="text-3xl font-bold text-white mb-4">Welcome to My .Astro Project</h1>
					<p class="text-sm text-white/80 mb-6">Crafted using Astro's component-based architecture, styled with Tailwind CSS for a modern, responsive design. This project leverages PostCSS for advanced CSS processing and is deployed seamlessly on GitHub Pages.</p>
				</div>
			</div>
		</div>
	</section>
	
</Layout>
