---
import Layout from '../layouts/layout.astro';
import Resume from '../components/resume.astro';
import TextOrbit from '../components/text-orbit.astro';

export interface Props {
  currentPage?: string;
}

const { currentPage = 'info' } = Astro.props;
---

<Layout currentPage="info">
	<!-- OLD
	<section id="heroSection" class="min-h-screen pt-[42px] relative overflow-hidden">
		<div class="w-full h-full relative z-10 px-0">		
			<div class="img-feature relative w-full h-full min-h-screen">
				<div class="container mx-auto flex h-screen pointer-events-none items-center justify-center h-full w-full absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] z-50">
					<div class="rich-text text-center w-[80%] md:w-[60%] lg:w-[40%] mx-auto z-40">
						<h1 class="text-3xl font-bold text-white mb-4">Info</h1>
						<p class="text-white/80 mb-6">I've been a Web Developer for almost 20 years, and what keeps me coming back for more is the blend of creativity and problem-solving. I like making things look cool, building experiences that stand out, and continuing to learn new things.</p>
					</div>
				</div>
				<div class="w-3/4 h-[55vh] shadow-lg z-10 relative">
					<img src="/images/6835450453418620230.jpg" alt="Kyle Frederick" class="w-full h-full object-cover">
				</div>
				<div class="w-1/2 h-[70vh] shadow-lg right-0 absolute top-[50%] translate-y-[-50%] z-30">
					<img src="/images/lv_2024.jpg" alt="Kyle Frederick" class="w-full h-full object-cover object-top">
				</div>
				<div class="w-1/2 ml-[5%] md:ml-[10%] h-[55vh] shadow-lg z-20 relative">
					<img src="/images/ny_2024_01.jpg" alt="Kyle Frederick" class="w-full h-full  mt-[-5%] object-cover">
				</div>
				<div class="pointer-events-none bg-black/80 absolute top-0 left-0 w-full h-full z-40"></div>
			</div>
		</div>
	</section>
	-->

	<section id="heroSection" class="h-screen relative">
		<div class="container mx-auto h-full relative z-10">

			<div class="w-3/5 h-3/5 absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] z-10">
				<div class="text-3xl font-bold text-white mb-4 z-20 absolute right-0 mb-0">
					<h1 class="text-3xl font-bold text-white mb-4 z-20 absolute right-0 mb-0 hidden">Info</h1>

					<div class="font-bold text-3xl [text-wrap:balance] bg-clip-text"><span class="text-sand">My </span>
						<span class="inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] overflow-hidden">
							<ul class="block animate-text-slide leading-tight">
								<li>Info</li>
								<li>About Me</li>
								<li>Resume</li>
								<li>Story</li>
								<li>Journey</li>
								<li aria-hidden="true">Info</li>
							</ul>
						</span>
					</div>

				</div>
				<div class="rotate-[-5deg] h-full w-full shadow-xl aspect-square relative z-10">
					<div class="w-full h-full absolute top-0 left-0 bg-black/80 z-10"></div>
					<img src="../images/6835450453418620230.jpg" alt="Hero Image" class="w-full h-full object-cover">
				</div>
			</div>

			<div class="flex flex-col items-center justify-center h-full w-full relative z-20">
				<div class="rich-text text-center w-[80%] md:w-[60%] lg:w-[40%] mx-auto">
					<p class="text-white/80 mb-6">I've been a Web Developer for almost 20 years, and what keeps me coming back for more is the blend of creativity and problem-solving. I like making things look cool, building experiences that stand out, and continuing to learn new things.</p>
				</div>
			</div>

			<div class="absolute w-full h-full flex justify-center items-center top-0">
				<div class="sand-circle absolute w-[50%] h-[50%] border-2 border-sand/30 rounded-full flex justify-center items-center"></div>
				<div class="white-circle absolute w-[45%] h-[45%] border-2 border-white/30 rounded-full flex justify-center items-center;"></div>
			</div>

		</div>
	</section>

	<section class="py-8 lg:py-16 bg-white overflow-hidden">
		<div class="container mx-auto" data-aos="fade-up">
			<Resume />
		</div>
	</section>
</Layout>