---
import Layout from '../layouts/layout.astro';
import Portfolio from '../components/portfolio.astro';

export interface Props {
  currentPage?: string;
}

const { currentPage = 'portfolio' } = Astro.props;
---

<Layout currentPage="portfolio">
  <section id="heroSection" class="h-[25vh] py-[25vh] relative">
    <div class="container mx-auto h-full relative z-10">
      <div class="flex items-center justify-center h-full w-full">
        <div class="rich-text text-center w-[80%] md:w-[60%] lg:w-[40%] mx-auto">
          <h1 class="text-3xl font-bold text-white mb-4">Portfolio</h1>
          <p class="text-white/80 mb-6">Here you can find some of my work.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-8 lg:py-16 bg-white">
    <div class="container mx-auto">
      <Portfolio />
    </div>
  </section>
</Layout>