<div class="max-w-5xl mx-auto flex flex-col gap-4">

    <div class="rich-text">
        <h2 class="h3 mb-2">Kyle Frederick</h2>
        <p class="text-sm">Front End Web Developer & UI/UX Designer</p>
        <ul class="text-sm">
            <li>2107 Swensberg Ave NE</li>
            <li>Grand Rapids, MI 49505</li>
            <li><a href="mailto:frederickkd@gmail.com" class="text-blue-600 hover:underline">frederickkd@gmail.com</a></li>
        </ul>
    </div>

    <div class="rich-text max-w-2xl mr-auto">
        <h2 class="h3 font-bold mb-2">Profile</h2>
        <p class="text-sm">Front End Web Developer & UI/UX Designer with expertise in building custom websites, translating high-fidelity designs into functional code, and delivering strong user-focused solutions.</p>
    </div>

    <!-- Experience -->
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4">

        <article class="card md:col-span-2 lg:col-span-3">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Experience</h2>
            </div>
            <div class="card-content rich-text">
                <div class="space-y-4">

                    <article>
                        <h3 class="h4 font-semibold">Kmotion Design — Web Developer</h3>
                        <p class="text-sm text-dark/80 mb-2">3/2019 – Present</p>
                        <ul class="list-disc pl-5 text-sm">
                            <li>Custom WordPress and full builds from scratch</li>
                            <li>Translated high-fidelity designs into HTML, CSS, JS, PHP</li>
                            <li>Worked with local and national clients</li>
                        </ul>
                    </article>

                    <article>
                        <h3 class="h4 font-semibold">Andronaco Industries — UI/UX Developer</h3>
                        <p class="text-sm text-dark/80 mb-2">9/2018 – 3/2019</p>
                        <ul class="list-disc pl-5 text-sm">
                            <li>Redesigned and developed 12 static-FTP sites</li>
                            <li>Implemented designs from Adobe XD into usable code</li>
                        </ul>
                    </article>

                    <article>
                        <h3 class="h4 font-semibold">Corporate Conversions — Front End Web Developer</h3>
                        <p class="text-sm text-dark/80 mb-2">5/2018 – 9/2018</p>
                        <ul class="list-disc pl-5 text-sm">
                        <li>Maintained existing websites</li>
                        <li>Built new client projects in WordPress, Joomla, Magento</li>
                        </ul>
                    </article>

                    <article>
                        <h3 class="h4 font-semibold">Full Circle Marketing & Promotions — Front End Web Developer</h3>
                        <p class="text-sm text-dark/80 mb-2">Contract, 2017</p>
                        <ul class="list-disc pl-5 text-sm">
                            <li>Contracted to rebuild AIS site</li>
                            <li>Used custom Bootstrap framework, HTML5, and JS</li>
                            <li>Live project: <a href="http://www.ais-inc.com" class="text-blue-600 hover:underline">ais-inc.com</a></li>
                        </ul>
                    </article>

                </div>
            </div>
        </article>

        <!-- Education -->
        <article class="card">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Education</h2>
            </div>
            <div class="card-content rich-text">
                <div class="flex flex-col gap-2">
                    <article>
                        <h3 class="h4 font-semibold !mb-1">B.S. Information Technology</h3>
                        <p class="text-sm text-dark  font-semibold mb-2">Media, Design, and Production Technology</p>
                        <p class="text-sm text-dark/80 mb-2">Central Michigan University</p>
                    </article>
                    <article>
                        <h3 class="h4 font-semibold">A.A. Journalism</h3>
                        <p class="text-sm text-dark/80 mb-2">Delta College</p>
                    </article>
                    <article>
                        <h3 class="h4 font-semibold">H.H. Dow High School</h3>
                    </article>
                </div>
            </div>
        </article>
    </div>

    <!-- Skills Content -->
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
        <!-- Skills -->
        <article class="card" data-aos="fade-up">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Skills</h2>
            </div>
            <div class="card-content rich-text">
                <ul class="flex flex-col text-sm">
                    <li>UI/UX Design</li>
                    <li>Web Development</li>
                    <li>Graphic Design</li>
                    <li>Wireframing & Prototyping</li>
                </ul>
            </div>
        </article>

        <!-- Software -->
        <article class="card" data-aos="fade-up" data-aos-delay="100">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Software & Tools</h2>
            </div>
            <div class="card-content rich-text">
                <ul class="grid grid-cols-2 text-sm">
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>InDesign</li>
                    <li>Adobe XD</li>
                    <li>Sketch</li>
                    <li>Figma</li>
                    <li>InVision</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
        </article>

        <!-- Personal Skills -->
        <article class="card" data-aos="fade-up" data-aos-delay="200">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Soft Skills</h2>
            </div>
            <div class="card-content rich-text">
                <ul class="grid grid-cols-2 gap-x-4 text-sm">
                    <li>Creativity</li>
                    <li>Communication</li>
                    <li>Organization</li>
                    <li>Team Player</li>
                    <li>Adaptability</li>
                    <li>Proactive</li>
                    <li>Self-Motivated</li>
                    <li>Self-Starter</li>
                </ul>
            </div>
        </article>

        <!-- Certifications -->
        <article class="card" data-aos="fade-up" data-aos-delay="300">
            <div class="card-header rich-text mb-4">
                <h2 class="h3 font-bold">Certifications</h2>
            </div>
            <div class="card-content rich-text">
                <ul class="flex flex-col gap-2 text-sm">
                    <li class="flex gap-2"><span class="text-dark/80 flex-shrink-0 w-8">2021</span><p>Google Mobile Sites Certified</p></li>
                    <li class="flex gap-2"><span class="text-dark/80 flex-shrink-0 w-8">2019</span><p>UX Research & Design – TeamTreehouse</p></li>
                    <li class="flex gap-2"><span class="text-dark/80 flex-shrink-0 w-8">2017</span><p>Front End Developer – TeamTreehouse</p></li>
                </ul>
            </div>
        </article>

    </div>
</div>