<ul class="socials flex gap-2">
    <li>
        <a href="https://linkedin.com/in/kyle-frederick" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/kdfreder" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/frede1kd" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="https://codepen.io/frederickkd" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-codepen"></i>
        </a>
    </li>
</ul>