---
import Layout from '../../layouts/layout.astro';
---

<Layout >
	<section id="heroSection" class="h-[25vh] py-[25vh] relative">
		<div class="container mx-auto h-full relative z-10">
			<div class="flex items-center justify-center h-full w-full">
				<div class="rich-text text-center w-[80%] md:w-[60%] lg:w-[40%] mx-auto">
					<h1 class="text-3xl font-bold text-white mb-4">SCC NRA Tradeshow Application</h1>
					<p class="text-white/80 mb-6">Here you can find some information about this project.</p>
				</div>
			</div>
		</div>
	</section>
</Layout>
