---
import Nav from '../components/nav.astro';
---

        </main>
      <footer id="footer" class="hidden">
        <section class="py-8 lg:py-16">
          <div class="container mx-auto">
            <div class="flex flex-col gap-8 items-center md:flex-row md:gap-16">
              <div class="w-full">
                Footer
              </div>
              <div class="w-full">
                This is where the footer nav should be
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>